.button
{
    -fx-background-color: #3F2B63;
}
.button:hover{
    -fx-background-color: #2A1C42;
}
.button:pressed{
    -fx-background-color: #7156DD;
}
.table-view .column-header,
    .table-view .column-header-background .filler {
    -fx-background-color: #3F2B63;
    -fx-cell-size: 20;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment:CENTER-LEFT;
    -fx-font-weight: bold;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-text-fill: #000000;
    -fx-alignment:CENTER-LEFT;
}
.table-row-cell:selected{
    -fx-background-color: #73A3EF;
}
.table-row-cell:selected .text {
    -fx-fill:white;
}
.TextField{
    -fx-border-color: #3F2B63;;
}